<% include partials/header.ejs %>
<% include partials/middle.ejs %>



<div class="container">
    
        <div style="text-align: center;padding-top:2%;padding-bottom:4%"><button id="addfilter" class="positive ui button" style:"position: absolute;">ADD Filter</button></div>
  
       
        <div class="filterpouch">     
    
         
    </div>
    <div style="text-align: center;padding-top:2%;padding-bottom:4%"><button id="addsector" class="positive ui button" style:"position: absolute;">ADD Sector</button></div>

    <div class="row" id="sectordiv">

    </div>
    
     <div style="text-align: center;padding-top:2%;padding-bottom:4%"><button id="submitfilter" class="positive ui button">Submit</button></div>
    <hr>
    
    <div class="row" id="filteredddata">
    
        
        
    </div>
    
    
</div>

<script>

    var count=0;
   
        var user = <%- JSON.stringify(CurrentUser) %>+"";
        console.log(user);

    
    
    $('#addfilter').on('click',function(){
        count++;     
          $('.filterpouch').append('<div class="row" id="row'+count+'value"><div class="col-md-5 filteroption" ><select class="ui fluid  dropdown" id="filters'+count+'row"><option>Price Range</option><option>EPS</option><option>Sales</option><option>Face-Value</option><option>Equity</option><option>Net-Profit</option></select></div><div class="col-md-1"></div><div class="col-md-2"><input type="text" id="amount'+count+'" readonly style="border:0; color:#1f69f6; font-weight:bold;"></div><div id="slider-range'+count+'" class="col-md-4"></div></div>');    
        
         $( function() {
		$( "#slider-range"+count).slider({
			range: true,
			min: -4000,
			max: 5000,
			values: [ 75, 300 ],
			slide: function( event, ui ) {
				$( "#amount"+count ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
			}
		});
		$( "#amount"+count ).val( "₹" + $( "#slider-range"+count ).slider( "values", 0 ) +
			" - ₹" + $( "#slider-range"+count ).slider( "values", 1 ) );
    } );
         
  

   
    
    })

    $('#addsector').on('click',function(){
        count++;
      $('#sectordiv').children().remove();
      
      $('#sectordiv').append('<div class="col-md-5 filteroption" ><select class="ui fluid dropdown" id="filters'+count+'row"><option>Sector</option></select></div><div class="col-md-1"></div><div class="col-md-5" id="datasector"></div>');  
         $.ajax({
                                                url:location.origin+"/api/datatable/sectordata",
                                                type:"GET",
                                                dataType: 'json',
                                                data:{},
                                                headers: {
                                                    'Content-Type':'application/json'
                                              },
                                             success:function(data) {
                                              var vendor_username="";

                                                     $('#datasector').append('<select id="datasectorvalue" class="form-control selectpicker" data-live-search="true"></select>');

                                                     data.map(function(e){
                                                        vendor_username +='<option>'+e.sector+'</option>'
                                                    })
                                               
                                                     $('#datasectorvalue').append(vendor_username);
                                                    $('#datasectorvalue').selectpicker('refresh');

                                                                                          }
                                        });
  
        
    });
    $('#submitfilter').on("click",function(){
        
         $('#filteredddata').children().remove();
        var linkadded="";
        for(var i=1;i<=count;i++){
            console.log(count);
           console.log($('#filters'+count+'row').val());
           if($('#filters'+i+'row').val()=='Price Range'){
               
               linkadded+="pricerangestart="+$('#slider-range'+i).slider("values",0)+"&pricerangeend="+$('#slider-range'+i).slider("values",1);
               console.log(linkadded);
           }
           else if($('#filters'+i+'row').val()=='EPS'){
               linkadded+="epsstart="+$('#slider-range'+i).slider("values",0)+"&epsend="+$('#slider-range'+i).slider("values",1);
               
           }
           else if($('#filters'+i+'row').val()=='Sales'){
               linkadded+="salesstart="+$('#slider-range'+i).slider("values",0)+"&salesend="+$('#slider-range'+i).slider("values",1);
           }
           else if($('#filters'+i+'row').val()=='Face-Value'){
               linkadded+="facevaluestart="+$('#slider-range'+i).slider("values",0)+"&facevalueend="+$('#slider-range'+i).slider("values",1);
           }
           else if($('#filters'+i+'row').val()=='Equity'){
               linkadded+="equitystart="+$('#slider-range'+i).slider("values",0)+"&equityend="+$('#slider-range'+i).slider("values",1);
           }
           else if($('#filters'+i+'row').val()=='Sector'){
            linkadded+='sector='+$('#datasectorvalue').val();
           }
            
            linkadded+="&"
            console.log(linkadded);
            
        }
        
        
        
        
        
        
        
        
        
        
           $.ajax({
            url:location.origin+"/api/filter?"+linkadded+'count='+count,
            type:"GET",
            dataType: 'json',
            data:{},
            success:function(data) {
                  
                  console.log(data);
                  var bsecodes = data;
                  
                  
    
                        
         bsecodes.forEach(function(bsecodedata){
                         console.log(bsecodedata);                 
                         var fk="";
                  if(user){
                    fk = '<button class="addtowatch btn btn-primary btn-sm btn-block" data-bsecode="'+bsecodedata.bse+'">Add to Watchlist</button><button class="addtoportfolio btn btn-primary btn-sm btn-block" data-bsecode="'+bsecodedata.bse+'">Add to Portfolio</button>';
                  }                
                  $('#filteredddata').append('<div class="card border-success col-md-3" style="max-width: 18rem;"><div class="card-header bg-transparent border-success"><strong>'+bsecodedata.name+'</strong><span style="float:right">'+bsecodedata.bse+'</span></div><div class="card-body text-success"><h5 class="card-title">Report card</h5><div><strong>Eps(Rs):</strong>'+bsecodedata.eps+'</div><div><strong>Sales :</strong>'+bsecodedata.salea+'</div><div><strong>Face-Value :</strong>'+bsecodedata.facevalue+'</div><div><strong>Net Profit(cr) :</strong>'+bsecodedata.netprofit+'</div><a href="/stocks?bse='+bsecodedata.bse+'">View more</a></div><div class="card-footer bg-transparent border-success">'+fk+'</div></div>');
                      
           });
                  
               

                  
                  
                  
                  
       
       
            
             }
                                                    
        
    })	

	    
	  
        

    });
    
    
    $('#filteredddata').on("click",'.card .addtowatch',function(){
                
             var a= $(this).data('bsecode');
             console.log(a);
              
                           $.ajax({
                                  url:location.origin+"/api/addtowatch?bsecode="+a,
                                  type:"GET",
                                  dataType: 'json',
                                  data:{},
                                  headers: {
                                  'Content-Type':'application/json' 
                                  },
                                  success:function(data) {
                                  console.log(data);
                            
                      $('#addtowatch').attr('disabled', 'disabled'); 
                                  }
                             });
          
                             alert("stock added to watchlist successfully ");
              })  
    
    $('#filteredddata').on("click",'.card .addtoportfolio',function(){

     var a= $(this).data('bsecode');
    var b = parseInt(prompt("enter quantity"),10);
    var c = parseInt(prompt("enter purchase price per share"),10);
    console.log("a ="+a+" b=  "+b+"  c=  "+c);
    $.ajax({
            url:location.origin+"/api/stockbybse?bsecode="+a,
            type:"GET",
            dataType: 'json',
            data:{},
            headers: {
            'Content-Type':'application/json' 
            },
            success:function(data) {
            console.log(data);
                var d= data[0].name;
            console.log("------------------------------------");
                console.log(a+"  "+b+"  "+c+"  "+d);
                console.log("----------------------------------");
                $.ajax({
                        url:location.origin+"/api/addtoportfolio?bsecode="+a+"&stockname="+d+"&numberofstocks="+b+"&boughtat="+c,
                        type:"GET",
                        dataType: 'json',
                        data:{},
                        headers: {
                        'Content-Type':'application/json' 
                        },
                        success:function(data) {
                        console.log(data);
                
            $('#addtoportfolio').attr('disabled', 'disabled'); 
                        }
                    });

   alert("stock added to portfolio successfully ");


                        }
                    });


                
    });   
    
</script>







<% include partials/footer.ejs %>