<% include partials/header.ejs %>
<% include partials/middle.ejs %>

<div class="container">
    
  <div class="row " style="padding-top:5%">

        <div class="col-md-5 square" style="border: 2px solid #4e7e80;border-radius: 15%;">
                    <div style="padding-top:3%">                
                     <b>SENSEX:</b> <span><h1 id="marketcap"></h1></span>
                   </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 square" style="border: 2px solid #4e7e80;border-radius: 15%;   width: 100%;overflow: hidden;">
                  <div style="padding-top:3%; width: 100%;height: 100%;overflow-y: scroll; padding-right: 17px;box-sizing: content-box;" id="scrnews" >
                   <table  border="0" id="newsTable" style="text-color:white">
                <thead>
                <tr><th>Breaking News</th></tr>
                </thead>
              
            </table>
                   </div>
                  </div>
                  <div class="col-md-1"></div>

</div>
</div>


<



<script>
   function sensexvalue(){
      $.ajax({
            url:"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=^BSESN&apikey=GXO2ZRA29LQ2BE78" ,
            type:"GET",
            dataType: 'json',
            data:{},
            success:function(data) {
                  console.log(data);
                  var str ="Series"
              for(key in data){
                    if(key.includes(str)){
                          console.log(data[key]);
                          var str1 = gettoday();
                          for(datee in data[key]){    
                             if(datee.includes(str1)){
                                   var val = data[key][datee];
                                   console.log(data[key][datee]);
                                   var str2="close";
                                   for(key in val){
                                         if(key.includes("4")){
                                               $('#marketcap').html(val[key]);
                                               console.log(val[key]);
                                         }
                                   }
                             }
                          }
                    }


              }
            
                            }
                                                     });

   }
sensexvalue();

setInterval(sensexvalue,100000);
function gettoday(){
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    
    if(dd<10) {
        dd = '0'+dd
    } 
    
    if(mm<10) {
        mm = '0'+mm
    } 
    var compdate = yyyy+"-"+mm+"-"+dd;
    return(compdate);
    



}

$.ajax({
            url:"https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=9233d93e3f414c119fbfaf44b8dc414b" ,
            type:"GET",
            dataType: 'json',
            data:{},
            success:function(data) {
                var array=data.articles;
                var newsdata="";
                   for( var i=0; i<array.length;++i){
                   console.log(array[i].title);
                     newsdata+='<li><a href="'+array[i].url+'">'+array[i].title+'</a></li>';

                  

                  }
                  $('#newsTable').append(newsdata);
            }

            });



</script>

<% include partials/footer.ejs %>