<% include partials/header.ejs %>
<% include partials/middle.ejs %>

<div class="container">
   <div class="row" style="padding-top:2%"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="profile-head">
                       
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                            <button class="nav-link" id="portfoliotab" data-toggle="tab"  role="tab" aria-controls="portfolio" aria-selected="true">Portfolio</button>
                        
                    </li>
                    <li class="nav-item">
                            <button class="nav-link" id="watchlisttab" data-toggle="tab" role="tab" aria-controls="Watchlist" aria-selected="false">Watchlist</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5" style="padding:1%">
            <input typ="email"  id="emailtosend" cols="10" placeholder="email .." style="border-radius:10%">
            <button class="profile-edit-btn" id="submitmail" style="background-color:salmon;border-radius:50%">Submit</button>
        </div>
    </div>
       
    <div class="row">
    
            <div class="tab-content profile-tab col-md-9" id="myTabContent">
             </div> 
            <div class="tab-content profile-tab col-md-12 row" id="filteredddata"></div>
        </div>

        
</div>


<script>

     var user = <%- JSON.stringify(CurrentUser) %>;
    console.log(user);
    


function  cont(){
    $('#myTabContent').children().remove();
    $('#filteredddata').children().remove();
    $('#myTabContent').append('<table  id="sharetable" class="table table-sm table-hover"><tr class="table-primary"><th scope="col">BSE-CODE</th><th scope="col">NAME</th><th scope="col">Current Price</th><th scope="col">Quantity</th><th scope="col">Bought at</th><th scope="col">Net-Cost</th><th scope="col">Today-value</th><th scope="col">Gain/Loss</th></tr></table>');
         
  
     user.portfolio.forEach(function(portfolio){
             
        $.ajax({
            url:"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=BSE:"+portfolio.bsecode+"&apikey=1G55BZ2V9RC0578S" ,
            type:"GET",
            dataType: 'json',
            data:{},
            success:function(data) {
                  var str ="Series"
              for(key in data){
                    if(key.includes(str)){
                          console.log(data[key]);
                          var str1 = gettoday();
                          for(datee in data[key]){    
                             if(datee.includes(str1)){
                                   var val = data[key][datee];
                                   var extra =JSON.stringify(val);
                                  
                                   console.log(data[key][datee]);
                                   var str2="close";
                                   for(key in val){
                                         if(key.includes("4")){
                                               $('#stockpriceshow').html(val[key]);
                                               console.log(val[key]);
                                               var netval = portfolio.numberofstocks*val[key]-portfolio.numberofstocks*portfolio.boughtat;
       $('#sharetable').append('<tr><th scope="col">'+portfolio.bsecode+'</th><th scope="col">'+portfolio.stockname+'</th><th scope="col">'+val[key]+'</th><th scope="col">'+portfolio.numberofstocks+'</th><th scope="col">'+portfolio.boughtat+'</th><th scope="col">'+portfolio.numberofstocks*portfolio.boughtat+'</th><th scope="col">'+portfolio.numberofstocks*val[key]+'</th><th scope="col">'+netval+'</th></tr>')

                                       
                                         }
                                       
                                   }
                             }
                          }
                    }


              }
            
                            }
                                                     });

           
         


    }) ;

     
  }

function gettoday(){
    var today = new Date();
    var dd = today.getDate()-3;
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    
    if(dd<10) {
        dd = '0'+dd
    } 
    
    if(mm<10) {
        mm = '0'+mm
    } 
    var compdate = yyyy+"-"+mm+"-"+dd;
    return(compdate);
    



}

function priceupdate(valto){
  console.log(valto);
$.ajax({
            url:"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol="+valto+"&apikey=1G55BZ2V9RC0578S" ,
            type:"GET",
            dataType: 'json',
            data:{},
            success:function(data) {
                  var str ="Series"
              for(key in data){
                    if(key.includes(str)){
                          console.log(data[key]);
                          var str1 = gettoday();
                          for(datee in data[key]){    
                             if(datee.includes(str1)){
                                   var val = data[key][datee];
                                   var extra =JSON.stringify(val);
                                  
                                   console.log(data[key][datee]);
                                   var str2="close";
                                   for(key in val){
                                         if(key.includes("4")){
                                               $('#stockpriceshow').html(val[key]);
                                               console.log(val[key]);
                                         }
                                       
                                   }
                             }
                          }
                    }


              }
            
                            }
                                                     });


}


cont();



$('#portfoliotab').on("click",function(){

    cont();

});
$('#watchlisttab').on("click",function(){
    $('#myTabContent').children().remove();

user.watchlist.forEach(function(watch){
   
    $.ajax({
        url:location.origin+"/api/stockbybse?bsecode="+watch,
        type:"GET",
        dataType: 'json',
        data:{},
        headers: {
        'Content-Type':'application/json' 
        },
        success:function(data) {
         var stockname =data[0].name;
                $.ajax({
                url:location.origin+"/api/reportcard?bsecode="+watch,
                type:"GET",
                dataType: 'json',
                data:{},
                headers: {
                'Content-Type':'application/json' 
                },
                success:function(data) {
                    
                    data = data[0];
                   $('#filteredddata').append('<div class="card border-success col-md-3" style="max-width: 18rem;"><div class="card-header bg-transparent border-success"><strong>'+stockname+'</strong><span style="float:right">'+watch+'</span></div><div class="card-body text-success"><h5 class="card-title">Report card</h5><div><strong>Eps(Rs):</strong>'+data.eps+'</div><div><strong>Sales :</strong>'+data.salea+'</div><div><strong>Face-Value :</strong>'+data.facevalue+'</div><div><strong>Net Profit(cr) :</strong>'+data.netprofit+'</div><a href="/stocks?bse='+watch+'">View more</a></div><div class="card-footer bg-transparent border-success"></div></div>');
                     

                console.log(data);

                }
                });

       }});



});

})



$('#submitmail').on("click",function(){

  var email  = $('#emailtosend').val();
  var htmldata = $('#myTabContent').html().trim(); 
  console.log(htmldata);
  console.log(email);
  if(email.includes('@')){
    $.ajax({
        url:location.origin+"/api/sendmail?email="+email+"&htmldata="+htmldata,
        type:"GET",
        dataType: 'json',
        data:{},
        headers: {
        'Content-Type':'application/json' 
        },
        success:function(data) {

       }});
       alert("email sent successfully");
    

  }else{
      alert("please enter correct email id");
  }
   




})


</script>


<% include partials/footer.ejs %>