<% include partials/header.ejs %>

 
<div class="loginpage">
  
<div class='labels' align='center'>
    <div class="labelsplash">
      
    <form>
     <div>
    <input type="email" class="input-group-text" placeholder='Username' name ="gmail" requird>
  </div><div>   
 
  <input type='password' class="input-group-text" placeholder = 'Password' name='psd' pattern=".{3,15}" required title="3 characters minimum and 15 maximum">
  </div>
  <div>
  
    <input type='password'  class="input-group-text"  placeholder = 'Confirm Password' name='psd' pattern=".{3,15}" required title="3 characters minimum and 15 maximum">
    </div>
    <input type="submit" class="btn btn-success">
  </form>
</div>
    </div>
  </div>

<% include partials/footer.ejs %>