<% include partials/header.ejs %>
<% include partials/middle.ejs %>


	
<div class="container">
<div style="padding-top:3%">
        <div class="card" style="border:2px solid #EEFF41;border-radius:10%">
               <div> <h2 class="card-header" id="stocknameshow" style="color:#870000"></h2><div id="buttontoadd" style="float:right"></div></div>
                
                <div class="card-body">
                  <h3 class="card-title" id="stockpriceshow"></h3>

                  <div class="row">
                        <div class="col-md-6">
                  <p class="card-text" id="extradetails">
                      <div><span style="color:#0091EA"><strong>Open : </strong></span><span id="openprice" style="color:#4A148C"></span></div>
                        <div><span style="color:#0091EA"><strong>High : </strong></span><span id="highprice" style="color:#4A148C"></span></div>
                        <div><span style="color:#0091EA"><strong>Low : </strong></span><span id="lowprice" style="color:#4A148C"></span></div>
                        <div><span style="color:#0091EA"><strong>Volume :</strong></span><span id="volume" style="color:#4A148C"></span></div>
                  </p>
            </div>
            <div class="col-md-4">
                   <div class="card">
                         <h3 style="color:#4A148C">Report Card</h3>
                         <div><span style="color:#870000"><strong>Eps(Rs):</span></strong> <span id="eps" class="tp" style="color:#0091EA"></span></div>
                         <div><span style="color:#870000"><strong>Sales :</strong></span> <span id="sales" class="tp" style="color:#0091EA"></span></div>
                         <div><span style="color:#870000"><strong>Face-Value :</strong></span> <span id="facevalue" class="tp" style="color:#0091EA"></span></div>
                         <div><span style="color:#870000"><strong>Net Profit(cr) :</strong></span> <span id="netprofit" class="tp" style="color:#0091EA"></span></div>
                         
                   </div>

            </div>

            </div>
                 
                </div>
              </div>
              </div>


              <div class="row">
                    <div class="col-md-12">
                         <h3 style="color:#FFFDE7"> Balancesheet (All values in cr(inr))</h3>
                        <div id="balancesheet" style="padding-top:1%; width: 100%;overflow-x: scroll; box-sizing: content-box;"></div>

                    </div>
              </div>
              <div class="row">
                    <div class="col-md-12">
                              <h3 style="color:#FFFDE7"> Profit and Loss Statement (All values in cr(inr))</h3>
                              <div id="profitloss" style="padding-top:1%; width: 100%;overflow-x: scroll; box-sizing: content-box;"></div> 
                    </div>
              </div>
</div>


<div id="cashflow"></div>
<div id="quaters"></div>


<script>
     var a = <%=bse%> ;
     var tempurl="";











     
  // getting stockname
      var valstock= "";
$.ajax({
url:location.origin+"/getstockname",
type:"GET",
dataType: 'json',
data:{},
headers: {
'Content-Type':'application/json' 
},
success:function(data) {
for(var i=0;i<data.companyarray.length;i++){
    if(data.companyarray[i].bse==a){
     var sharename = data.companyarray[i].sharename;
      b = data.companyarray[i].nse;
      if(b){
            var temp ="NSE:"+b;
            valstock =temp;
            priceupdate(valstock);       
      }else{
            var temp ="BSE:"+a;
            valstock =temp;
            priceupdate(valstock);
      }
      tempurl =
       $('#stocknameshow').html(sharename);
       console.log("name set "+ sharename);
       
    
    }
}

}
});

// getting stock report card

$.ajax({
url:location.origin+"/api/reportcard?bsecode="+a,
type:"GET",
dataType: 'json',
data:{},
headers: {
'Content-Type':'application/json' 
},
success:function(data) {
    
    data = data[0];
    $('#eps').append(data.eps);
    $('#sales').append(data.salea);
    $('#facevalue').append(data.facevalue);
    $('#netprofit').append(data.netprofit);
console.log(data);

}
});



//getting stock price

function priceupdate(valto){
  console.log(valto);
$.ajax({
            url:"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol="+valto+"&apikey=1G55BZ2V9RC0578S" ,
            type:"GET",
            dataType: 'json',
            data:{},
            success:function(data) {
                  var str ="Series"
              for(key in data){
                    if(key.includes(str)){
                          console.log(data[key]);
                          var str1 = gettoday();
                          for(datee in data[key]){    
                             if(datee.includes(str1)){
                                   var val = data[key][datee];
                                   var extra =JSON.stringify(val);
                                  
                                   console.log(data[key][datee]);
                                   var str2="close";
                                   for(key in val){
                                         if(key.includes("4")){
                                               $('#stockpriceshow').html(val[key]);
                                               console.log(val[key]);
                                         }
                                         if(key.includes("1")){
                                               $('#openprice').append(val[key]);
                                         }
                                         if(key.includes("2")){
                                               $('#highprice').append(val[key]);
                                         }
                                         if(key.includes("3")){
                                               $('#lowprice').append(val[key]);
                                         }
                                         if(key.includes("6")){
                                               $('#volume').append(val[key]);
                                         }
                                   }
                             }
                          }
                    }


              }
            
                            }
                                                     });


}
//  news api 95a287139a984969841b41dab6b249d7


setInterval(priceupdate(valstock),5000);

function gettoday(){
    var today = new Date();
    var dd = today.getDate()-1;
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    
    if(dd<10) {
        dd = '0'+dd
    } 
    
    if(mm<10) {
        mm = '0'+mm
    } 
    var compdate = yyyy+"-"+mm+"-"+dd;
    return(compdate);
    



}

        




 var user = <%- JSON.stringify(CurrentUser) %>+"";
        console.log(user);
        if(user){
              $('#buttontoadd').append('<button class="btn btn-primary btn-sm" id="addtowatch">Add to Watchlist</button>&nbsp;<button class="btn btn-primary btn-sm" id="addtoportfolio">Add to Portfolio</button>');
        }

    $('#addtowatch').on("click",function(){
                
      var urlParams = new URLSearchParams(location.search);
      var a = urlParams.get('bse');
                 $.ajax({
                        url:location.origin+"/api/addtowatch?bsecode="+a,
                        type:"GET",
                        dataType: 'json',
                        data:{},
                        headers: {
                        'Content-Type':'application/json' 
                        },
                        success:function(data) {
                        console.log(data);
                  
            $('#addtowatch').attr('disabled', 'disabled'); 
                        }
                   });

                   alert("Added Successfully to watchlist");
    })    




    $('#addtoportfolio').on("click",function(){
                
                var urlParams = new URLSearchParams(location.search);
                var a = urlParams.get('bse');
                var b = parseInt(prompt("enter quantity"),10);
                var c = parseInt(prompt("enter purchase price per share"),10);
                console.log("a ="+a+" b=  "+b+"  c=  "+c);
                $.ajax({
                        url:location.origin+"/api/stockbybse?bsecode="+a,
                        type:"GET",
                        dataType: 'json',
                        data:{},
                        headers: {
                        'Content-Type':'application/json' 
                        },
                        success:function(data) {
                        console.log(data);
                            var d= data[0].name;
                       console.log("------------------------------------");
                          console.log(a+"  "+b+"  "+c+"  "+d);
                          console.log("----------------------------------");
                            $.ajax({
                                  url:location.origin+"/api/addtoportfolio?bsecode="+a+"&stockname="+d+"&numberofstocks="+b+"&boughtat="+c,
                                  type:"GET",
                                  dataType: 'json',
                                  data:{},
                                  headers: {
                                  'Content-Type':'application/json' 
                                  },
                                  success:function(data) {
                                  console.log(data);
                            
                      $('#addtoportfolio').attr('disabled', 'disabled'); 
                                  }
                             });




                                  }
                             });
               

                          
              });
              
              

function balancesheet(){
   
      $('#balancesheet').append('<table  id="balancesheettable" class="table table-sm table-hover"><tr style="color:#870000;background:white"><th scope="col">YEAR</th><th scope="col">reserves</th><th scope="col">receivables</th><th scope="col">facevalue</th><th scope="col">equitysharecapital</th><th scope="col">netblock</th><th scope="col">borrowings</th><th scope="col">capitalworkingprogress</th><th scope="col">otherassets</th><th scope="col">otherliabilties</th><th scope="col">investments</th><th scope="col">total</th><th scope="col">cashbank</th><th scope="col">equityshares</th><th scope="col">newbonusshares</th><th scope="col">inventory</th></tr></table>');
      var urlParams = new URLSearchParams(location.search);
                var a = urlParams.get('bse');
                var i=2008;
   for(;i<2018;i++){
         $.ajax({
                  url:location.origin+"/api/datatable/balancesheet?bsecode="+a+"&year="+i,
                  type:"GET",
                  dataType: 'json',
                  data:{},
                  headers: {
                  'Content-Type':'application/json' 
                  },
                  success:function(data) {
                  console.log(data);
                  data=data[0];
                  
                   
                  $('#balancesheettable').append('<tr><th scope="col">'+data.year+'</th><th scope="col">'+data.reserves+'</th><th scope="col">'+data.receivables+'</th><th scope="col">'+data.facevalue+'</th><th scope="col">'+data.equitysharecapital+'</th><th scope="col">'+data.netblock+'</th><th scope="col">'+data.borrowings+'</th><th scope="col">'+data.capitalworkingprogress+'</th><th scope="col">'+data.otherassets+'</th><th scope="col">'+data.otherliabilties+'</th><th scope="col">'+data.investments+'</th><th scope="col">'+data.total+'</th><th scope="col">'+data.cashbank+'</th><th scope="col">'+data.equityshares+'</th><th scope="col">'+data.newbonusshares+'</th><th scope="col">'+data.inventory+'</th></tr>')
     
                                  }
                             });
        
     


   }


}

function profitloss(){
      $('#profitloss').append('<table  id="profitlosstable" class="table table-sm table-hover"><tr style="color:#870000;background:white"><th scope="col">YEAR</th><th scope="col">othermfr</th><th scope="col">powerandfuel</th><th scope="col">sellingandadmin</th><th scope="col">otherexpenses</th><th scope="col">employeecost</th><th scope="col">otherincome</th><th scope="col">tax</th><th scope="col">beforetax</th><th scope="col">interest</th><th scope="col">dividendamount</th><th scope="col">depreciation</th><th scope="col">sales</th><th scope="col">changeininventory</th><th scope="col">netprofit</th><th scope="col">rawmaterialcost</th><th scope="col">eps</th></tr></table>');
      
      var urlParams = new URLSearchParams(location.search);
                var a = urlParams.get('bse');
                var i=2008;
   for(;i<2018;i++){
         $.ajax({
                  url:location.origin+"/api/datatable/profitloss?bsecode="+a+"&year="+i,
                  type:"GET",
                  dataType: 'json',
                  data:{},
                  headers: {
                  'Content-Type':'application/json' 
                  },
                  success:function(data) {
                  console.log(data);
                  data=data[0];
                  
                   
                  $('#profitlosstable').append('<tr><th scope="col">'+data.year+'</th><th scope="col">'+data.othermfr+'</th><th scope="col">'+data.powerandfuel+'</th><th scope="col">'+data.sellingandadmin+'</th><th scope="col">'+data.otherexpenses+'</th><th scope="col">'+data.employeecost+'</th><th scope="col">'+data.otherincome+'</th><th scope="col">'+data.tax+'</th><th scope="col">'+data.beforetax+'</th><th scope="col">'+data.interest+'</th><th scope="col">'+data.dividendamount+'</th><th scope="col">'+data.depreciation+'</th><th scope="col">'+data.salea+'</th><th scope="col">'+data.changeininventory+'</th><th scope="col">'+data.netprofit+'</th><th scope="col">'+data.rawmaterialcost+'</th><th scope="col">'+data.eps+'</th></tr>')
     
                                  }
                             });
        
     


   }

}
balancesheet();
profitloss();


              
</script>






<% include partials/footer.ejs %>