.navbar{
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    margin-bottom: 0;
    height: auto;
}
.navbar-brand{
    height: auto;
    margin-left: 15px;
    padding: 5px 0; 
    width: 200px;
}
@media (min-width: 768px){
    .navbar-brand{
        width: auto; 
    }
}
.square {
    background: rgb(38, 120, 226);
    height:40%
}

.labels{
    border: 5px solid rgb(38, 120, 226);
    padding:3% 0%;
   
}

