.navbar{
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    margin-bottom: 0;
    height: auto;
}
.navbar-brand{
    height: auto;
    margin-left: 15px;
    padding: 5px 0; 
    width: 200px;
}
@media (min-width: 768px){
    .navbar-brand{
        width: auto; 
    }
}
.square {
    background:rgba(6,5,5,0.1);
   
    height:40%
}
body {
    background-image: url("https://i.ytimg.com/vi/KFNxdXEe0Ko/maxresdefault.jpg");
    background-repeat: no-repeat;
}
table a{
    color:#FF0099;
}



